<%= render 'shared/page_title', title: "Produkty w sklepie" %>

<% @products.each do |product| %>
	<div class="row">

		<div class="col-md-4">
		<section class="customer_info center">
		    <%= image_tag(product.product_image, :size => "150x200") %> 
		</section>
		</div>

		<div class="col-lg-6 well">
			<h4><strong><%= link_to product.product_name,product_path(product) %></strong></h4>
			<p><%= product.product_price %></p>
			<p>
				<span class='quiet'><small><%= time_ago_in_words(product.created_at) %> ago</small></span>
			</p>
		</div>
	</div>
	<hr/>
<% end %>