<p>
	<h1><%= @product.product_name %></h1>
</p>
<div class="row">
	<div class="col-md-4-pull-right center">
		<%= gravatar_for @product.category, size: 200 %>
	<p>
		<h5>Znajduje się w kategorii: <%= @product.category.category_name %></h5>
	</p>

	</div>
	<div class="col-md-8">
		<h3> <%= @product.product_descript %></h3>
		<div class="well">
			<p>
			<strong>Cena: </strong>
			</p>
			<%= @product.product_price %>
		</div>
	</div>
</div>

<h5><%= link_to "Wróć do listy produktów", products_path, class: "btn btn-warning btn-small" %></h5>