<!DOCTYPE html>
<html>
  <head>
    <title>MojSklep</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
    <div class="container">
      <%= link_to "MojSklep", home_path, class:"btn btn-default btn-lg", id:"logo" %>
    <div class="nav_item">
      <%= link_to "Wszystkie produkty", products_path, class:"btn btn-default", id:"products" %>

    </div>
    <div class="container">
      <%= link_to "Założ konto", new_customer_path, class:"btn btn-default", id:"products2" %>
    </div>      
   </div>
   </header>

   <div class="container">
      <%= render 'layouts/messages' %>

        <%= yield %>
        <div class="footer">
        <p>&copy; MojSklep 2017</p>
        </div>
    </div>


  </body>
</html>