<!DOCTYPE html>
<html>
  <head>
    <title>MojSklep</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
    <div class="container">
      <%= link_to "MojSklep", home_path, class:"btn btn-default btn-lg", id:"logo" %>
    <div class="nav_item">
      <%= link_to "Wszystkie produkty", products_path, class:"btn btn-default", id:"products" %>
    </div> 
     <div class="container">
    <% if logged_in? %>
      <%= link_to "Mój profil", customer_path(current_customer), class:"btn btn-default", id:"products3" %>      
      <%= link_to "Wyloguj się", logout_path, class:"btn btn-default", id:"products2" %>
    <% else %>
      <%= link_to "Zaloguj się", login_path, class:"btn btn-default", id:"products2" %>
    <% end %>
      </div>
  </div> 

   </header>

     <div class="container">
        <%= image_tag("img5.jpg", :size => "1140x373") %>  
  </div>
   <div class="container">
      <%= render 'layouts/messages' %>

        <%= yield %>
        <div class="footer">
        <p>&copy; MojSklep 2017</p>
        </div>
    </div>


  </body>
</html>