<%= render 'shared/page_title', title: "Zarejestruj się w sklepie" %>
<%= render 'shared/errors', obj: @customer %>

	<h2><strong>Aby utworzyć konto, podaj swój login, imię, nazwisko adres i telefon poniżej!</strong></h2>

<div class="row">
	<div class="well col-md8 col md-offset-2">
		<%= form_for(@customer, html: { multipart: true }) do |f| %>
			<%= f.label :login %>
			<%= f.text_field :login %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.text_field :password %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :lastname %>
			<%= f.text_field :lastname %>

			<%= f.label :address %>
			<%= f.text_field :address %>

			<%= f.label :phone %>
			<%= f.text_field :phone %>

			<span class="picture">
				<%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
			</span>


			<%= f.submit 'Stwórz konto', class: "btn btn-success" %>

			<% end %>
	</div>
</div>
