<%= render 'shared/page_title', title: "Profil: " +@customer.login %>

<div class="row">
	<div class="col-md-12 center well">
		 <p><h3><strong>login: <%=@customer.login %></strong></h3></p>
		 <p><h4>email: <%=@customer.email %></h3></p>
		 <p><h4>imie: <%=@customer.name %></h3></p>
		 <p><h4>nazwisko: <%=@customer.lastname %></h3></p>
		 <p><h4>adres: <%=@customer.address %></h3></p>
		 <p><h4>nr telefonu: <%=@customer.phone %></h3></p>
		 <hr/>
		 <% if logged_in? and @customer == current_customer %>
		 <h5><%= link_to "Edytuj profil", edit_customer_path(current_customer), class: "btn btn-warning btn-small" %></h5>
		 <% end %>
	</div>
</div>